@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/grass.css";

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-bg: #f0f0f0;
  --color-text: blue;
  --border-gray: #e8e8e8;
  --color-primary: #4f46e5;
  --color-accent: #22c55e;
}

/* Patient Theme */
[data-theme="patient"] {
  --color-bg: red;
  --color-text: #004d40;
  --color-primary: var(--iris-9);
  --color-accent: #009688;
}

/* Doctor Theme */
[data-theme="doctor"] {
  --color-bg: yellow;
  --color-text: #4a148c;
  --color-primary: var(--grass-9);
  --color-accent: #8e24aa;
}
