@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/gray.css";

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-bg: #f0f0f0;
  --color-text: blue;
  --border-gray: #e8e8e8;
  --color-primary: #4f46e5;
  --color-accent: #22c55e;
  --grass9: var(--grass-9);
  --gray11: var(--gray-11);
}

/* Patient Theme */
[data-theme="patient"] {
  --color-bg: red;
  --color-text: #004d40;
  --color-primary: var(--iris-9);
  --meeting-card-date: var(--iris-6);
  --meeting-card-divider-color: var(--iris-8);
  --meeting-card-button-color: var(--iris-3);
}

/* Doctor Theme */
[data-theme="doctor"] {
  --color-bg: yellow;
  --color-text: #4a148c;
  --color-primary: var(--grass-9);
  --meeting-card-date: var(--grass-5);
  --meeting-card-divider-color: var(--grass-8);
  --meeting-card-button-color: var(--grass-3);
}
